body {
  margin: 0;
  border:0px ;
  background: url(./images/city.jpg);
  background-size: contain;
 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
